main.wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.wrapper .container {
    display: block;

    width: 100%;
    max-width: 100%;
    max-width: 75vw;

    z-index: 1;

    margin: 0 auto;
    position: relative;
}

section img {
    border: 2px dotted #606c76;
    padding: 2px;
    margin-bottom: 2.5rem;
}

footer {
    text-align: right;
}

nav.fixedNav {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
    background-color:#2c3e50;
    border-color:#2c3e50;
    position: fixed;
    left: 1rem;
    bottom: 1rem;
}

nav.fixedNav a {
    width: 60%;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 20%;
}